body {

    font-family: 'Montserrat', sans-serif
}

h6 , h3 , h5 {

    font-family: 'Playfair Display', serif;

}

h3 {

    font-size: 2rem;
}

.productimage:hover {
    cursor: pointer;

    transition: 0.5s;

    box-shadow: #333 3px 3px 0px 0px;
}

.thumbnail:hover {
    cursor: pointer;

    transition: 0.5s;

    box-shadow: #333 3px 3px 0px 0px;
}

.thumbnail{
    
    width: 145px;
}

.displayimage{
    max-width:100%;
    width: 500px;
    height: auto;
}

footer {

 border-top: solid 1px rgb(209, 209, 209);
}


#shoppingbag {
    cursor: pointer;
    font-size: 1.5rem;
    
}

#badge {

    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif
}

.theprice {

    border-bottom: solid 1px rgb(209, 209, 209);

}

#checkOutBag {

border: solid 1px rgb(209, 209, 209);

}

.totPriceCart {

    border-top: solid 1px rgb(209, 209, 209);

}